// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}

.banner1 {
  font-size: 30px;
  padding-left: 20px;
  border-left: 7px solid #DDDDDD;
}

.banner2 {
  background-color: #FEFAE1;
  border-left: 7px solid #DDDDDD;
  padding-left: 20px;
  font-size: 30px;
}

.submit-blue {
  background-color: #337AB7;
  color: white;
  padding-left: -10px;
}


input[type="submit" i] {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 60px;
  height: 40px;
  font-weight: bold;
}
